@model IEnumerable<OnlineShop.Model.Models.Product>

@{
    ViewData["Title"] = "Product For Admin";
    Layout = "_AdminLayout";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>
<script src="https://d3js.org/d3.v6.min.js"></script>
<div class="row">
    <div class="col-sm-6">
        <h1>Danh Sách Sản Phẩm</h1>
    </div>
    <div class="col-sm-6">
        <button class="CreateBtn" asp-action="Create">
            <i class="bi bi-plus-square"></i> Thêm Sản Phẩm Mới
        </button>
    </div>
</div>

<form asp-controller="ProductAdmin" asp-action="IndexProducts" method="get" style="padding-top: 20px">
    <div class="search-container">
        <p>Tên Sản Phẩm:</p>
        <input type="text" name="SearchString"/>
        <button class="btn btn-search-container" type="submit">Tìm Sản Phẩm</button>
        <button asp-action="IndexProducts" class="btn btn-search-container">Xem Tất Cả Sản Phẩm</button>
        <button asp-action="Index" class="btn btn-search-container">Quay Lại Danh Mục</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Danh Mục
            </th>
            <th>
                Giá Sản Phẩm
            </th>
            <th>
                Tiêu Đề
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <a asp-action="IndexProduct" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <p style="margin-right: 0px"> 
                        @Html.DisplayFor(modelItem => item.Price) VND
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaTitle)
                </td>
                <td>
                    <a asp-action="ProductEdit" asp-route-id="@item.ID">Sửa Thông Tin</a> |
                    <a asp-action="ViewProductDetails" asp-route-id="@item.ID">Chi Tiết</a> |
                    <a asp-action="DeleteProduct" asp-route-id="@item.ID">Xóa Sản Phẩm</a>
                </td>
            </tr>
        }
    </tbody>
</table>
