@model IEnumerable<OnlineShop.Model.Models.Product>

@{
    ViewData["Title"] = "Product For Admin";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-sm-6">
        <h1>Danh Sách Sản Phẩm</h1>
    </div>
    <div class="col-sm-6">
        <p style="padding-top: 5px">
            <a asp-action="Create">Thêm Sản Phẩm Mới</a>
        </p>
    </div>
</div>

<form asp-controller="ProductAdmin" asp-action="Index" method="get" style="padding-top: 20px">
    <p>
        Tên Sản Phẩm: <input type="text" name="SearchString" />
        <input class="btn btn-primary" type="submit" value="Tìm Sản Phẩm" />
        <a asp-action="Index" class="btn btn-primary">Xem Tất Cả Sản Phẩm</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Tiêu Đề
            </th>
            <th>
                Danh Mục
            </th>
            <th>
                Chi Tiết
            </th>
            <th>
                Giá
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Sửa Thong Tin</a> |
                    <a asp-action="ViewDetails" asp-route-id="@item.ID">Chi Tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Xóa San Pham</a>
                </td>
            </tr>
        }
    </tbody>
</table>