@model IEnumerable<OnlineShop.Model.Models.PostContent>

@{
    ViewData["Title"] = "Post For Admin";
    Layout = "_AdminLayout";
    var CategoryID = ViewBag.Id;
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

<h1>Danh Sách Bài Viết</h1>

<p>
    <a asp-action="CreatePost" asp-route-id="@CategoryID" class="btn btn-primary"><i class="bi bi-plus-square"></i> Tạo Bài Viết Mới</a>
</p>
<form asp-controller="PostAdmin" asp-action="Index" method="get">
    <p>
        Tên Bài Viết: <input type="text" name="SearchString" placeholder="Nhập Tìm Kiếm" />
        <input class="btn btn-primary" type="submit" value="Tìm Bài Viết" />
        <a asp-action="IndexPost" class="btn btn-primary">Xem Tất Cả Bài Viết</a>
        <button asp-action="IndexCategories" class="btn btn-primary">Quay Lại Danh Mục</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <a asp-action="PreViewPost" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCount)
                </td>
                <td>
                    <a asp-action="EditPost" asp-route-id="@item.ID">Sửa Bài</a> |
                    <a asp-action="ViewPostDetails" asp-route-id="@item.ID">Chi Tiết</a> |
                    <a asp-action="DeletePost" asp-route-id="@item.ID">Xóa Bài</a>
                </td>
            </tr>
        }
    </tbody>
</table>